{% extends 'base.html.twig' %}

{% block title %}geo point index{% endblock %}

{% block body %}
    <h1>geo point index</h1>

    <a href="{{ path('app_geographicpointdd_dualform') }}"
       class="btn btn-primary">
        calculate the distance (decimal)
    </a>

{% endblock %}
