{% extends 'base.html.twig' %}

{% block title %}main page{% endblock %}

{% block body %}
    <h1>main page</h1>

    <a href="{{ path('app_geographicpointdd_dualform') }}"
       class="btn btn-primary">
        calculate the distance (decimal)
    </a>

{% endblock %}
